.root{
    -fx-background-image:url('carTire.jpg');
    -fx-background-size:cover;
}

.label{
    -fx-font-size:19;
    -fx-font-family:"Lucida Console";
    -fx-text-fill:"white";
}

#titlelabel{
    -fx-font-family:"Lucida Console";
}